
@import '../base/listas';
@import '../base/variables';

footer {
    background-image: linear-gradient(to right, nth($colores-footer-barra,1), nth($colores-footer-barra,3));
    display: flex;
    padding-right: 10%;
    height: auto;
    font-family: $font-family;
    font-weight: bolder;
    font-size: 20px;
    justify-content: right;
    grid-area: footer;
    color: nth($colores-footer-barra,2);
    padding-top: 5%;

    @media screen and (max-width: 480px) {
        display: flex;
        font-size: 100%;
        justify-content: center;
        padding-right: 0%;

    }

}