@import '../base/listas';
@import '../base/variables';


#grilla4 {
    display: grid;
    grid-template-areas:
        "header header "
        "barra sobrenos "
        "barra ubicacionP "
        "barra ubicacion "
        "footer footer ";
    grid-template-rows: auto 1fr 1/2fr 2fr auto;
    grid-template-columns: 1fr auto;

    .sobrenos {
        background-image: linear-gradient(to right, nth($colores-fondo, 2), nth($colores-fondo, 1));
        width: auto;
        height: auto;
        grid-area: sobrenos;

        .sobrenosDiv {
            display: flex;
            flex-direction: row;
            padding-top: 100px;
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 100px;
            align-items: center;

            .sobrenosp {
                font-size: 20px;
                font-family: $font-family;
                text-align: center;
                padding-left: 60px;
                padding-right: 60px;


            }

            @media screen and (max-width: 480px) {
                display: flex;
                flex-direction: column;
                padding-top: 100px;
                padding-left: 50px;
                padding-right: 50px;
                margin-bottom: 100px;
                justify-content: center;
            }

        }
    }

    .ubicacion {
        background-image: linear-gradient(to right, nth($colores-fondo, 2), nth($colores-fondo, 1));
        grid-area: ubicacion;
        width: auto;

        .ubicacionP {
            background-image: linear-gradient(to right, nth($colores-fondo, 2), nth($colores-fondo, 1));
            font-size: 25px;
            padding-left: 20px;
            grid-area: ubicacionP;
            width: 100%;
            font-family: $font-family;

            @media screen and (max-width: 480px) {
                font-size: auto;
                text-align: start;

            }
        }

        .ubicacionConteiner {
            display: flex;

            p {
                font-family: $font-family;

                @media screen and (max-width: 480px) {
                    font-size: auto;
                    text-align: left;
                }
            }

            div {
                iframe {
                    @media screen and (max-width:480px) {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .envios {
                padding-left: 60px;

                ol li {
                    display: block;
                    padding-left: 150px
                }
            }

            @media screen and (max-width: 480px) {
                display: flex;
                flex-direction: column;
            }

        }

        @media screen and (max-width: 480px) {
            justify-content: center;

        }
    }

    @media screen and (max-width: 480px) {
        display: grid;
        grid-template-areas:
            "header "
            "sobrenos "
            "ubicacionP "
            "ubicacion "
            "footer ";

    }

}