@import '../base/listas';
@import '../base/variables';


#grilla5 {
    display: grid;
    grid-template-areas:
        "header header"
        "barra novedades"
        "barra ofertas"
        "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% 90%;

    .loNuevo {
        background: radial-gradient(circle, nth($colores-fondo,3), nth($colores-fondo,4));
        padding-bottom: 0;
        font-family: $font-family;
        grid-area: novedades;
        padding-bottom: 10%;
    }

    .ofertas {
        grid-area: ofertas;
        background: radial-gradient(circle, nth($colores-fondo,3), nth($colores-fondo,4));

        .ofertasImg {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    @media screen and (max-width: 480px) {
        display: grid;
        grid-template-areas:
            " header"
            "novedades"
            "ofertas"
            " footer";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;

    }

}