
@import '../base/listas';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


.barra {
    grid-area: barra;
    background-image: linear-gradient(to bottom, nth($colores-footer-barra,3), nth($colores-footer-barra,1));
    
    @media screen and (max-width: 480px) {
        display: none
    }
}

.productoImg {
    margin-top: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 2%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.425);
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 10%;
    box-shadow: 10px 10px 5px black;

    @media screen and (max-width: 480px) {
        text-align: center;
        font-size: 150%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        padding: 2%;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.425);
        margin-top: 15%;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-left: 0%;
        box-shadow: 10px 10px 5px black;
    }

}

